<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coulumes two</title>
    <style type="text/css">
    .column1of3, .column2of3, .column3of3{
      float: left;
      width: 300px;
      margin: 10px;}
    </style>
  </head>
  <body>
    <h1>자전거</h1>
    <div class="column1of3">
      <h2>자전거의 정의와 역사</h2>
      <p>자전거는 일반적으로 바퀴 두개로 구성된 사람 힘으로 움직일 수 있는 기계이다.</p>
    </div>
    <div class="column2of3">
      <h2>자전거의 원리와 종류</h2>
      <p>자전거는 타는 사람이 두 발로 발판을 밟아 체인으로 바퀴를 돌려 나아가게 만든 가볍고 편리한 차다.</p>
    </div>
    <div class="column3of3">
      <h3>함께보기</h3>
      <ul>
        <li>자전거 구조</li>
        <li>자전거 타기</li>
        <li>자전거 길</li>
        <li>크리티컬 매스</li>
        <li>자전거 찾기</li>
        <li>사이클</li>
      </ul>
    </div>
  </body>
</html>
