<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>z-index</title>
    <style type="text/css">
      h1{
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 10px;
        width: 100%;
        background-color: #efefef;
        z-index: 10;}
      p{
        position: relative;
        top: 70px;
        left: 70px;}
    </style>
  </head>
  <body>
    <h1>자전거</h1>
    <p>자전거는 일반적으로 바퀴 두개로 구성된 사람 힘으로 움직일 수 있는 기계이다.</p>
    <p>최초의 자전거를 누가 만들었는지에 대한 의견으 분분하다.</p>
    <p>대한민국에서는 1890년대 윤치호가 미국에서 돌아온 후에 처음 소개한 것으로 알려져 있으나 실제로
    본인이 타고 다녔다는 기록은 보이지 않는다.</p>
  </body>
</html>
