<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css.css">
    <script>
      function check(c){
        var sum = 0;
        for(var i  = 0; i<2000; i++){
          sum += n;
        }
        alert(n);
        console.log(n);
        console.log(document.getElementById("songwriter"));
        console.log(document.getElementsClassName("lyric"));
      }
      check(1);
    </script>
  </head>
  <body>
    <script>check(2);</script>
    <h1>애국가</h1>
    <p id = "songwriter">작곡 : 안익태</p>
    <p id  = "lrycist" style = "color:red;">작사 : 미상</p>
    <script>check(3);</script>
    <h2>1절</h2>
    <p class = "lyric">
      1절 가사
    </p>
    <script>check(4);</script>
    <h3>2절</h3>
    <p class = "lyric">
      2절 가사
    </p>
    <script>check(5);</script>
  </body>
</html>
